:root{
  --textColor:rgb(65,64,66);
  --btnbgColor:#3287b7;
}
html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif Pro";
}
/* ---------------Login--------------- */
.phone-container{
  padding: 3em 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f0e4;
  position: relative;
}
.phone-container h1{
  font-size: 1.3em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  color:var(--textColor) ;
}
.phone-container p{
  font-size: 0.755em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  width: 100%;
  max-width: 270px;
  text-align:center;
  justify-content:space-evenly
}
.phone-container p span{
  font-weight: 500;
}
/* *********************Home**************************** */
.home-container{
  background-color: #f2f0e4;
  height: 100vh;
}